name: Lint

on:
  push:
    branches: [ main ]
    paths:
      - '**.py'
  pull_request:
    branches: [ main ]
    paths:
      - '**.py'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # Providing 'args' prevents the action from running 'ruff check .'
      # immediately after installing ruff.
      - name: Install Ruff
        uses: astral-sh/ruff-action@v3
        with:
          args: "--version"

      - name: Check
        run: ruff check --output-format=github src tests

      - name: Format
        run: ruff format --check --diff src tests
